<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="fr">
<!--<![endif]-->

<!-- BEGIN HEAD -->
<head>
    <meta charset="utf-8" />
    <title>Scolarite - {% block title %}Welcome{% endblock %}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta content="Application de la scolarite chez FLS SAIIS" name="description" />
    <meta content="KHACHIAI OUSSAMA" name="author" />
    <meta content="NACHIT MOHAMED" name="author" />
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />
    {% block stylesheets %}
        {% stylesheets
            'bundles/scolarite/plugins/font-awesome/css/font-awesome.min.css'
            'bundles/scolarite/plugins/simple-line-icons/simple-line-icons.min.css'
            'bundles/scolarite/plugins/bootstrap/css/bootstrap.min.css'
            'bundles/scolarite/plugins/bootstrap-switch/css/bootstrap-switch.min.css'
            filter='cssrewrite' output='css/compiled/app.css' %}
            <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
    {% endblock stylesheets %}
    {% block page_level_stylesheets %}
        {% stylesheets
            'bundles/scolarite/plugins/bootstrap-daterangepicker/daterangepicker.min.css'
            'bundles/scolarite/plugins/morris/morris.css'
            'bundles/scolarite/plugins/fullcalendar/fullcalendar.min.css'
            'bundles/scolarite/plugins/jqvmap/jqvmap/jqvmap.css'

            filter='cssrewrite' output='css/compiled/page.css'
        %}
            <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
    {% endblock page_level_stylesheets %}

    {% block theme_global_stylesheets %}
        {% stylesheets
            'bundles/scolarite/css/global/components-md.min.css'
            'bundles/scolarite/css/global/plugins-md.min.css'

            filter='cssrewrite' output='css/compiled/global_theme.css'
        %}
            <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
    {% endblock theme_global_stylesheets %}

    {% block theme_layout_stylesheets %}
        {% stylesheets
            'bundles/scolarite/css/layout.css'
            'bundles/scolarite/css/themes/default.css'
            'bundles/scolarite/css/custom.css'

            filter='cssrewrite' output='css/compiled/layout_theme.css'
        %}
        <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
    {% endblock theme_layout_stylesheets %}

    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
<!-- END HEAD -->
<body class="page-container-bg-solid page-header-fixed page-sidebar-closed-hide-logo page-md">
    {% include(':Layout:header.html.twig') %}
    <!-- BEGIN CONTAINER -->
    <div class="page-container">
        {% include(':Layout:navigation.html.twig') %}
        <!-- BEGIN CONTENT -->
        <div class="page-content-wrapper">
            <!-- BEGIN CONTENT BODY -->
            <div class="page-content">
                {% include(':Layout:page_heade.html.twig') %}
                {% include(':Layout:breadcrumb.html.twig') %}
                {% block body %}{% endblock %}
            </div>
            <!-- END CONTENT BODY -->
        </div>
        <!-- END CONTENT -->
    </div>
    <!-- END CONTAINER -->
    {% include(':Layout:footer.html.twig') %}
    <!--[if lt IE 9]>
    <script src="{{ asset('bundles/scolarite/plugins/respond.min.js') }}"></script>
    <script src="{{ asset('bundles/scolarite/plugins/excanvas.min.js') }}"></script>
    <![endif]-->
    {% block javascripts %}
        {% javascripts
            'bundles/scolarite/plugins/jquery.min.js'
            'bundles/scolarite/plugins/bootstrap/js/bootstrap.min.js'
            'bundles/scolarite/plugins/js.cookie.min.js'
            'bundles/scolarite/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js'
            'bundles/scolarite/plugins/jquery-slimscroll/jquery.slimscroll.min.js'
            'bundles/scolarite/plugins/jquery.blockui.min.js'
            'bundles/scolarite/plugins/bootstrap-switch/js/bootstrap-switch.min.js'
            output='js/compiled/main.js'
        %}
            <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
    {% endblock %}

    {% block page_javascripts %}
        {% javascripts
        'bundles/scolarite/plugins/moment.min.js'
        'bundles/scolarite/plugins/bootstrap-daterangepicker/daterangepicker.min.js'
        'bundles/scolarite/plugins/morris/morris.min.js'
        'bundles/scolarite/plugins/morris/raphael-min.js'
        'bundles/scolarite/plugins/counterup/jquery.waypoints.min.js'
        'bundles/scolarite/plugins/counterup/jquery.counterup.min.js'
        'bundles/scolarite/plugins/amcharts/amcharts/amcharts.js'
        'bundles/scolarite/plugins/amcharts/amcharts/serial.js'
        'bundles/scolarite/plugins/amcharts/amcharts/pie.js'
        'bundles/scolarite/plugins/amcharts/amcharts/radar.js'
        'bundles/scolarite/plugins/amcharts/amcharts/themes/light.js'
        'bundles/scolarite/plugins/amcharts/amcharts/themes/patterns.js'
        'bundles/scolarite/plugins/amcharts/amcharts/themes/chalk.js'
        'bundles/scolarite/plugins/amcharts/ammap/ammap.js'
        'bundles/scolarite/plugins/amcharts/ammap/maps/js/worldLow.js'
        'bundles/scolarite/plugins/amcharts/amstockcharts/amstock.js'
        'bundles/scolarite/plugins/fullcalendar/fullcalendar.min.js'
        'bundles/scolarite/plugins/horizontal-timeline/horozontal-timeline.min.js'
        'bundles/scolarite/plugins/flot/jquery.flot.min.js'
        'bundles/scolarite/plugins/flot/jquery.flot.resize.min.js'
        'bundles/scolarite/plugins/flot/jquery.flot.categories.min.js'
        'bundles/scolarite/plugins/jquery-easypiechart/jquery.easypiechart.min.js'
        'bundles/scolarite/plugins/jquery.sparkline.min.js'
        'bundles/scolarite/plugins/jqvmap/jqvmap/jquery.vmap.js'
            output='js/compiled/page.js'
        %}
            <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
    {% endblock %}

    {% block theme_global_javascripts %}
        {% javascripts
            '/bundles/scolarite/js/app.js'
            output='js/compiled/theme_global.js'
        %}
            <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
    {% endblock %}

    {% block page_level_javascripts %}
        {% javascripts
            'bundles/scolarite/js/dashboard.min.js'
            output='js/compiled/page_level.js'
        %}
            <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
    {% endblock %}

    {% block theme_layout_javascripts %}
        {% javascripts
            'bundles/scolarite/js/layout.min.js'
            'bundles/scolarite/js/demo.min.js'
            'bundles/scolarite/js/quick-sidebar.min.js'
            output='js/compiled/theme_layout.js'
        %}
            <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
    {% endblock %}
</body>

</html>

